
@{
    ViewBag.Title = "Index";
}

<h2>
    <a style="float:right" href="@Url.Action("Nuevo","Ticket")"><i class="fas fa-plus-circle"></i>Nuevo</a>
    @*<button class="btn btn-primary" onclick="@Url.Action("Nuevo","Ticket")" style="float:right">Nuevo</button>*@
    Listado de Tickets
</h2>
<hr />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th># Ticket</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th>Responsable</th>
        </tr>
    </thead>
    <tbody>
    <td></td>
    </tbody>
</table>

