@model Ticket
@{
    ViewBag.Title = "Nuevo";
}

<h2>
    <a style="float:right" href="@Url.Action("Index","Ticket")"><i class="fas fa-arrow-circle-left"></i>Regresar</a>
    Nuevo Ticket
</h2>
<hr />

@using(Html.BeginForm("Nuevo", "Ticket", FormMethod.Post))
{
    <div class="form-group">
        <label>Fecha de Generación:</label>
        @Html.TextBoxFor( x => x.FechaGeneracion, new { @class="form-control"})
    </div>
}